.divNewProject{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.432);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
    height: 400px;
}

.divNewProject:hover{
    background-color: rgba(0, 0, 0, 0.637);
    transition: 1s;
}

.h1{
    color: #FFE14D;
    margin-bottom: 10px;
}