.btn{
    font-size: 20pt;
    text-decoration: none;
    color: #FFE14D;
    background-color: rgba(0, 0, 0, 0.575);
    padding: 10px;
    border-radius: 10px;
}

.btn:hover{
    transition: 0.5s;
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
    color: #FFE14D;
    background-color: rgb(0, 0, 0);
    padding: 13px;
    border-radius: 10px;
}