* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

html, #root, body{
  color: #ffffff;
  height: 100%;
  background-image: url(./img/background-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}



